<!-- Se extiende la plantilla de Base -->
{% extends 'base.html' %}

{% block title %}Actualizar Datos Encuesta{% endblock %}

<!-- Iniciamos contenido de Bloque -->
{%block content %}
{% load static %}

<div class="row justify-content-center">
  <div class="col-md-12 mb-2">
    <h1 class="text-center text-uppercase">
      <a style="float: left" href="{% url 'listar_encuestas' %}">
        <span><i class="bi bi-arrow-left-circle"></i></span>
      </a>
      Datos de Encuesta
      <hr />
    </h1>
  </div>
</div>

<div class="row justify-content-md-center">
  <form
    name="form_encuesta"
    method="POST"
    action="{% url 'actualizar_encuesta' encuesta.id %}"
    class="row justify-content-md-center g-3"
    enctype="multipart/form-data">

    {% csrf_token %}
    <div class="col-md-5">
      <label for="salest_encuesta" class="form-label">
        Salario Estimado
      </label>
      <input
        type="text"
        name="salest_encuesta"
        value="{{ encuesta.salest_encuesta}}"
        class="form-control"
        required />
    </div>
    <div class="col-md-5">
      <label for="favor_encuesta" class="form-label">
        ¿Esta usted a favor del aumento en el salario minimo?
      </label>
      <input
        type="text"
        name="favor_encuesta"
        value="{{ encuesta.favor_encuesta}}"
        class="form-control"
        required />
    </div>
    <div class="col-md-5">
      <label for="poraum_encuesta" class="form-label">
        Porcentaje de aumento en el salario minimo
      </label>
      <input
        type="text"
        name="poraum_encuesta"
        value="{{ encuesta.poraum_encuesta }}"
        class="form-control"
        required />
    </div>
    <div class="col-md-5">
      <label for="ultaum_encuesta" class="form-label">
        ¿Sabe de cuanto fue el ultimo aumento de salario minimo?
      </label>
      <input
        type="text"
        name="ultaum_encuesta"
        value="{{ encuesta.ultaum_encuesta }}"
        class="form-control"
        required />
    </div>
    <div class="col-md-5">
      <label for="razon_encuesta" class="form-label">
        Razones del aumento
      </label>
      <input
        type="text"
        name="razon_encuesta"
        value="{{ encuesta.razon_encuesta }}"
        class="form-control"
        required />
    </div>
    <div class="col-md-5">
      <label for="comact_encuesta" class="form-label">
        ¿Actualmente es competitivo en comparacion a otros paises de centro america?
      </label>
      <input
        type="text"
        name="comact_encuesta"
        value="{{ encuesta.comact_encuesta }}"
        class="form-control"
        required />
    </div>
    <div class="col-md-5">
      <label for="ventajas_encuesta" class="form-label">
        Ventajas de un aumento en el salario minimo
      </label>
      <input
        type="text"
        name="ventajas_encuesta"
        value="{{ encuesta.ventajas_encuesta }}"
        class="form-control"
        required />
    </div>
    <div class="col-md-5">
      <label for="desventajas_encuesta" class="form-label">
        Desventajas de un aumento en el salario minimo
      </label>
      <input
        type="text"
        name="desventajas_encuesta"
        value="{{ encuesta.desventajas_encuesta }}"
        class="form-control"
        required />
    </div>    

    <!-- Boton para enviar y actualizar Datos -->
    <div class="d-grid gap-2 col-8 mx-auto mt-5">
      <button class="btn btn-primary" type="submit">
        Actualizar Datos Encuesta
      </button>
    </div>
  </form>
</div>

{% endblock %}
